/* Utility */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {font-size: 87.5%; scroll-behavior: smooth;} /*14px*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #888;
}

p {margin-bottom: 1rem; color: #888;}

h1, h2, h3, h4, h5 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  line-height: 1.3;
  color: #333333;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {font-size: 2.441rem;}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

small, .text_small {font-size: 0.8rem;}

.buttonPrimary {
    padding: 12px 28px;
    background-color: #FFD856;
    border-radius: 50px;
    color: #fff;
    font-weight: 500;
}
.buttonPrimary:hover {
    padding: 12px 28px;
    background-color: #fdc302;
    border-radius: 50px;
    color: #fff;
    font-weight: 500;
}

.buttonSecondary {
    padding: 12px 28px;
    background-color: transparent;
    border: 1px solid #FFD856;
    border-radius: 50px;
    color: #FFD856;
    font-weight: 500;
}
.buttonSecondary:hover {
    padding: 12px 28px;
    background-color: #FFD856;
    border-radius: 50px;
    color: #fff;
    font-weight: 500;
}

.yellowSmoothShadow {
    box-shadow: 0px 100px 80px rgba(255, 216, 86, 0.07), 0px 41.7776px 33.4221px rgba(255, 216, 86, 0.0503198), 0px 22.3363px 17.869px rgba(255, 216, 86, 0.0417275), 0px 12.5216px 10.0172px rgba(255, 216, 86, 0.035), 0px 6.6501px 5.32008px rgba(255, 216, 86, 0.0282725), 0px 2.76726px 2.21381px rgba(255, 216, 86, 0.0196802);
}

.blackSmoothShadow {
    box-shadow: 0px 38px 130px rgba(51, 51, 51, 0.07), 0px 15.8755px 54.3109px rgba(51, 51, 51, 0.0503198), 0px 8.4878px 29.0372px rgba(51, 51, 51, 0.0417275), 0px 4.75819px 16.278px rgba(51, 51, 51, 0.035), 0px 2.52704px 8.64513px rgba(51, 51, 51, 0.0282725), 0px 1.05156px 3.59743px rgba(51, 51, 51, 0.0196802);
}

.marginTop {
    margin-top: 80px;
    margin-bottom: 24px;
}

.card {
    border-radius: 25px;
}
.card:hover {
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 0px 38px 130px rgba(51, 51, 51, 0.07), 0px 15.8755px 54.3109px rgba(51, 51, 51, 0.0503198), 0px 8.4878px 29.0372px rgba(51, 51, 51, 0.0417275), 0px 4.75819px 16.278px rgba(51, 51, 51, 0.035), 0px 2.52704px 8.64513px rgba(51, 51, 51, 0.0282725), 0px 1.05156px 3.59743px rgba(51, 51, 51, 0.0196802);
}

.bg-light {
    background-color: #F2F2F2 !important;
}
/* End of Utility */

/* Navbar */
#navbar {
    display: none;
}

.navbar-brand {
    font-size: 36px;
    font-weight: 900;
    color: #FFD856 !important;
    padding: 0;
}

.navbar-nav a {
    margin-top: 16px;
}
/* End of Navbar */

/* Jumbotron */
.jumbo-container {
    padding: 0;
    padding-bottom: 28px;
    border-radius: 0 0 50px 50px; 
}

#jumbotron {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    width: auto !important;
    padding-top: 48px;
}

.jumbo-text {
    flex: 100%;
    width: 100%;
}
.jumbo-text h1 {
    font-size: 26px;
    font-weight: 700;
}
.jumbo-text a {
    width: 48%;
    margin-left: 0 !important;
}

.jumbo-img {
    flex: 100%;
    width: 100%;
}
.jumbo-img img {
    width: 100% !important;
}
/* End of Jumbotron */

/* Services */
#services .card-body .text {
    margin-top: -100px;
}
#services .card img{
    width: 100%;
}
/* End of Services */

/* Projects */
.project {
    margin-top: 48px;
    min-height: 320px;
    border-radius: 25px;
    border: 1px solid #888;
}
.project:hover {
    transition: 0.3s;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: 0px 38px 130px rgba(51, 51, 51, 0.07), 0px 15.8755px 54.3109px rgba(51, 51, 51, 0.0503198), 0px 8.4878px 29.0372px rgba(51, 51, 51, 0.0417275), 0px 4.75819px 16.278px rgba(51, 51, 51, 0.035), 0px 2.52704px 8.64513px rgba(51, 51, 51, 0.0282725), 0px 1.05156px 3.59743px rgba(51, 51, 51, 0.0196802);
}
/* End of Projects */

/* CTA */
    #CTA {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        padding-top: 64px;
        padding-bottom: 64px;
        text-align: center;
    }

    #CTA h4 {
        margin: 0 52px;
        margin-bottom: 24px;
    }

    .CTAButton {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .CTAButton a {
        flex: 50% !important;
        width: 50% !important;
        margin-left: 24px;
    }
/* CTA */

/* Footer */
footer {
    margin-bottom: 0 !important;
    border-radius: 50px 50px 0 0;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

#footer .footer-text {
    flex: 100%;
    width: 100%;
}

.footer-text h1 {
    font-size: 26px;
    font-weight: 700;
}

.footer-text a {
    font-weight: 600;
    color: #888;
    text-decoration: underline;
}
.footer-text a:hover {
    color: #fdc302;
}

.footer-link a {
    font-size: 36px;
    margin-right: 36px;
    color: #333333;
}
.footer-link a:hover {
    color: #fdc302;
}

#footer .footer-img {
    flex: 100%;
    width: 100%;
}
#footer .footer-img img{
    width: 100%;
}
/* End of Footer */

@media (min-width: 992px) { 

    /* Utility */
    html {font-size: 112.5%;} /*18px*/

    body {
    background: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.75;
    }

    p {margin-bottom: 1rem;}

    h1, h2, h3, h4, h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 1.3;
    }

    h1 {
    margin-top: 0;
    font-size: 3.052rem;
    }

    h2 {font-size: 2.441rem;}

    h3 {font-size: 1.953rem;}

    h4 {font-size: 1.563rem;}

    h5 {font-size: 1.25rem;}

    small, .text_small {font-size: 0.8rem;}

    .marginTop {
        margin-top: 140px;
    }
    /* End of Utility */

    /* Navbar */
    #navbar {
        display: flex;
    }

    .navbar-nav a {
        margin-top: 0;
        margin-left: 24px;
    }
    /* End of Navbar */

    /* Jumbotron */
    .jumbo-container {
        padding: 24px 0;
        padding-bottom: 86px;
        border-radius: 0 0 100px 100px; 
    }

    #jumbotron {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: auto !important;
        padding-top: 24px;
    }

    .jumbo-text {
        flex: 50%;
        width: 50%;
    }
    .jumbo-text h1 {
        font-size: 3.052rem;
    }

    .jumbo-img {
        flex: 50%;
        width: 50%;
    }
    .jumbo-img img {
        width: auto;
    }
    /* End of Jumbotron */

    /* Services */
    #services .card {
        min-height: 500px;
    }

    #services .card-body .text {
        margin-top: -100px;
    }

    #services .card img{
        width: 100%;
    }
    /* End of Services */

    /* Projects */
    .project {
        margin-top: 48px;
        min-height: 320px;
        border-radius: 25px;
        border: 1px solid #888;
    }
    .project:hover {
        transition: 0.3s;
        cursor: pointer;
        border-radius: 25px;
        box-shadow: 0px 38px 130px rgba(51, 51, 51, 0.07), 0px 15.8755px 54.3109px rgba(51, 51, 51, 0.0503198), 0px 8.4878px 29.0372px rgba(51, 51, 51, 0.0417275), 0px 4.75819px 16.278px rgba(51, 51, 51, 0.035), 0px 2.52704px 8.64513px rgba(51, 51, 51, 0.0282725), 0px 1.05156px 3.59743px rgba(51, 51, 51, 0.0196802);
    }
    /* End of Projects */

    /* CTA */
        #CTA {
            flex-direction: row;
            padding-top: 64px;
            padding-bottom: 64px;
        }

        #CTA h4 {
            margin: unset;
        }
    /* CTA */
    
    /* Footer */
    footer {
        border-radius: 100px 100px 0 0;
    }

    #footer {
        flex-direction: row;
    }

    #footer .footer-text {
        flex: 50%;
        width: 50%;
    }

    .footer-text h1 {
        font-size: 3.052rem;
    }

    .footer-link a {
        font-size: 48px;
        margin-right: 48px;
    }

    #footer .footer-img {
        flex: 50%;
        width: 50%;
    }
    #footer .footer-img img{
        width: 100%;
    }
    /* End of Footer */
 }